.searchbar {
  position:relative;  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}


.googlelogo {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.headerSearch {
    position:fixed;
    left: 90%;
    pointer-events:all;
    cursor: default;
}