  .headerSearch {
    position:absolute;
    top: 15px;
    left: 90%;
    z-index: 1;
}


.googlelogo {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



  .searchbar {
    position:relative;  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
 
  }